    <div id="page_content">
        <div id="page_content_inner">

            <div class="gallery_grid uk-grid-width-medium-1-4 uk-grid-width-large-1-5" id="galleryGrid">
                <div ng-repeat="image in images" on-last-repeat>
                    <div class="md-card md-card-hover">
                        <div class="gallery_grid_item md-card-content">
                            <a href="#" class="custom-modal-open" ng-click="lightboxOpen($event,$index,$last,$first)">
                                <img ng-src="{{image.url}}" alt="">
                            </a>
                            <div class="gallery_grid_image_caption">
                                <div class="gallery_grid_image_menu" data-uk-dropdown="{pos:'top-right'}">
                                    <i class="md-icon material-icons">&#xE5D4;</i>
                                    <div class="uk-dropdown uk-dropdown-small">
                                        <ul class="uk-nav">
                                            <li><a href="#"><i class="material-icons uk-margin-small-right">&#xE150;</i> Edit</a></li>
                                            <li><a href="#"><i class="material-icons uk-margin-small-right">&#xE872;</i> Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <span class="gallery_image_title uk-text-truncate">{{image.title}}</span>
                                <span class="uk-text-muted uk-text-small">{{image.date}}, {{image.size}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="custom-ligthbox" class="uk-modal">
                <div class="uk-modal-dialog uk-modal-dialog-lightbox uk-modal-dialog-large uk-slidenav-position">
                    <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                    <div class="uk-grid uk-grid-collapse">
                        <div class="uk-width-medium-2-3 uk-text-center">
                            <div class="uk-position-relative uk-display-inline-block">
                                <img src="{{ lightbox_content.img }}" alt="" class="custom-lightbox-image">
                                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous uk-hidden-touch" ng-if="!lightbox_content.first" ng-click="lightboxPrev($event)"></a>
                                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next uk-hidden-touch" ng-if="!lightbox_content.last" ng-click="lightboxNext($event)"></a>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <div class="uk-modal-aside">
                                <article class="uk-comment">
                                    <header class="uk-comment-header">
                                        <img class="md-user-image uk-comment-avatar" src="{{ lightbox_content.user_avatar }}" alt="">
                                        <h4 class="uk-comment-title">{{ lightbox_content.user_name }}</h4>
                                        <div class="uk-comment-meta">25/Jun/18 14:26</div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p>{{ lightbox_content.comment }}</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>