<div id="page_content">
    <div id="page_content_inner">

      

        <div class="pricing_table pricing_table_a uk-grid uk-grid-small uk-grid-width-medium-1-2 uk-grid-width-large-1-2 uk-margin-large-bottom" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-grey-500 md-color-white">FREE TRIAL</div>
                        <div class="pricing_table_price">
                            <span class="currency">&#x20b9</span>0
                            <span class="period">15 Days</span>
                        </div>
                        <ul class="pricing_table_features"><hr>
                            <li><strong>COURSE OVERVIEW <br>Introduction to Money Management</strong> </li><hr>
                            <li><strong>INVESTMENT PLATFORM<br>My Wallet, Bank Accounts</strong></li><hr>
                            <li><strong>LEADER BOARD STATUS<br>Not Available</strong></li><hr>
                            <li><strong>CERTIFICATE<br>Not Available</strong></li><hr>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-large" style="background-color:#9e9e9e; color:white">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-green-500 md-color-white">PAID SUBSCRIPTION</div>
                        <div class="pricing_table_price">
                            <span class="currency">&#x20b9</span>999
                            <span class="period">12 Months</span>
                        </div>
                        <ul class="pricing_table_features"><hr>
                            <li><strong>COURSE OVERVIEW <br>Introduction to Money Management</strong> </li><hr>
                            <li><strong>INVESTMENT PLATFORM<br>My Wallet, Bank Accounts, Jewellery Investment, Insurance, Stocks, Mutual Funds </strong></li><hr>
                            <li><strong>LEADER BOARD STATUS<br>Available; Attractive Gifts (for Top 100 Users)</strong></li><hr>
                            <li><strong>CERTIFICATE<br>Available</strong></li><hr>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-large" style="background-color:#4caf50; color:white">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-blue-500 md-color-white">Plan 3</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>40
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>4 GB</strong> Memory</li>
                            <li><strong>2 Core</strong> Processor</li>
                            <li><strong>60GB</strong> SSD Disk</li>
                            <li><strong>4TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-large md-btn-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-red-600 md-color-white">Plan 4</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>80
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>8 GB</strong> Memory</li>
                            <li><strong>4 Core</strong> Processor</li>
                            <li><strong>100GB</strong> SSD Disk</li>
                            <li><strong>5TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-large">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pricing_table pricing_table_b uk-grid uk-grid-small uk-grid-width-medium-1-2 uk-grid-width-large-1-4 uk-margin-large-bottom" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan">Plan 1</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>0
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>512MB</strong> Memory</li>
                            <li><strong>1 Core</strong> Processor</li>
                            <li><strong>20GB</strong> SSD Disk</li>
                            <li><strong>1TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-success">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-color-green-400">Plan 2</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>20
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>1 GB</strong> Memory</li>
                            <li><strong>1 Core</strong> Processor</li>
                            <li><strong>30GB</strong> SSD Disk</li>
                            <li><strong>2TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-success">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-primary">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-color-blue-400">Plan 3</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>40
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>4 GB</strong> Memory</li>
                            <li><strong>2 Core</strong> Processor</li>
                            <li><strong>60GB</strong> SSD Disk</li>
                            <li><strong>4TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-danger">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-color-red-600">Plan 4</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>80
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>8 GB</strong> Memory</li>
                            <li><strong>4 Core</strong> Processor</li>
                            <li><strong>100GB</strong> SSD Disk</li>
                            <li><strong>5TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-danger">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pricing_table pricing_table_c uk-grid uk-grid-small uk-grid-width-medium-1-2 uk-grid-width-large-1-4 uk-margin-large-bottom" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan"><i class="material-icons md-24 md-color-grey-500">&#xE83A;</i></div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>0<span class="period">/mo</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>512MB</strong> Memory</li>
                            <li><strong>1 Core</strong> Processor</li>
                            <li><strong>20GB</strong> SSD Disk</li>
                            <li><strong>1TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-flat md-btn-flat-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-bg-light-blue-600 md-color-white">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan"><i class="material-icons md-24 md-color-white">&#xE838;</i><i class="material-icons md-24 md-color-white">&#xE838;</i></div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>20<span class="period md-color-white">/mo</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>1 GB</strong> Memory</li>
                            <li><strong>1 Core</strong> Processor</li>
                            <li><strong>30GB</strong> SSD Disk</li>
                            <li><strong>2TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan"><i class="material-icons md-24 md-color-blue-500">&#xE83A;</i><i class="material-icons md-24 md-color-blue-500">&#xE83A;</i><i class="material-icons md-24 md-color-blue-500">&#xE83A;</i></div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>40<span class="period">/mo</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>4 GB</strong> Memory</li>
                            <li><strong>2 Core</strong> Processor</li>
                            <li><strong>60GB</strong> SSD Disk</li>
                            <li><strong>4TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-flat md-btn-flat-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan"><i class="material-icons md-24 md-color-red-600">&#xE83A;</i><i class="material-icons md-24 md-color-red-600">&#xE83A;</i><i class="material-icons md-24 md-color-red-600">&#xE83A;</i><i class="material-icons md-24 md-color-red-600">&#xE83A;</i></div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>80<span class="period">/mo</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>8 GB</strong> Memory</li>
                            <li><strong>4 Core</strong> Processor</li>
                            <li><strong>100GB</strong> SSD Disk</li>
                            <li><strong>5TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-flat md-btn-flat-primary">Get it now</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>
</div>
