    <!-- <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-margin-bottom">
                        <div class="uk-width-large-1-2">
                            <form class="uk-form-stacked">
                                <label for="kUI_datetimepicker_basic" class="uk-form-label">Datetimepicker (basic)</label>
                                <input kendo-date-time-picker
                                       ng-model="str"
                                       k-ng-model="obj"
                                       style="width: 100%;"
                                       id="kUI_datetimepicker_basic"
                                />
                            </form>
<pre><code>str: {{ str }}
obj: {{ obj }}
typeof obj: {{ getType(obj) }}
obj instanceof Date: {{ isDate(obj) }}</code></pre>
                        </div>
                    </div>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;input kendo-date-time-picker ng-model=&quot;str&quot; k-ng-model=&quot;obj&quot; style=&quot;width: 100%;&quot; id=&quot;kUI_datetimepicker_basic&quot;/&gt;</code></pre>
                </div>
            </div>

        </div>
    </div> -->

             <!-- My subscription -->


    <div id="page_content">
        <div id="page_content_inner">
    
            <h2 class="heading_b uk-margin-bottom" style="color: rgb(21, 138, 247)";>My Subscription</h2>
    
            <div class="md-card" style="background-color: rgb(33, 102, 204)";>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <h1 style="color:white";>Your Current Subscription is valid till</h1>
                             <h3 style="color:white";>DD-MM-YYYY</h3>   
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="md-top-bar uk-flex">
                <h3 class="top_bar_heading uk-flex-item-1">My Current Subscription Plan</h3>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-width-large-1-1 uk-width-medium-1-2">
                        <h3 class="top_bar_heading uk-flex-item-1">My Invoice Details</h3>
                    </div>
                </div>
            </div>
            <h5>Upgrade to Paid Plans</h5><br>
            <h2 style="color: rgb(21, 138, 247)";>Become our Brand Ambassador</h2>
            <div class="md-card" style="background-color: rgb(33, 102, 204)";>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <h1 style="color:white";>Delighted with our idea</h1>
                             <h3 style="color:white";>Submit your testimonials and stand a chance to feature on our social media</h3>   
                        </div>
                    </div>
                </div>
            </div><br>
            <h2 class="heading_b uk-margin-bottom">My Testimonial</h2>
           
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">                
                    <div class="parsley-row">
                        <img src="assets/img/smile.png" alt="smile">                    
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="parsley-row">
                        <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}">
                            <option value="" disabled selected hidden>Rate the Product</option>
                            <option value="a">3 - Best</option>
                            <option value="b">2 - Very Good</option>
                            <option value="c">1 - Good</option>
                        </select>   
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <label for="message">Type your Testimonial comments</label>
                                <textarea id="message" class="md-input" name="message" cols="10" rows="5" md-input ng-model="validation_form.message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-validation-threshold="10" data-parsley-minlength-message = "Come on! You need to enter at least a 20 caracters long comment.."></textarea>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">Upload Photo</a>
                </div>
                <div class="uk-width-medium-1-3">
                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">Save</a>
                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">Cancel</a>
                </div>
                
            </div>
            
        </div>
    </div>
    
    