<!-- <div id="page_content">
    <div id="page_content_inner">

        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">
                    Upload Component
                    <span class="sub-heading">Allow users to upload files through a file input form element or a placeholder area.</span>
                </h3>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div id="file_upload-drop" class="uk-file-upload">
                            <p class="uk-text">Drop file to upload</p>
                            <p class="uk-text-muted uk-text-small uk-margin-small-bottom">or</p>
                            <span class="uk-form-file md-btn">choose file<input id="file_upload-select" type="file" ng-model="file_upload.input_1"></span>
                        </div>
                        <div id="file_upload-progressbar" class="uk-progress uk-hidden">
                            <div class="uk-progress-bar" style="width:0">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">
                    Form file
                    <span class="sub-heading">Replace the default file input with your own HTML content, like a button.</span>
                </h3>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="uk-form-file md-btn md-btn-primary">
                            Select
                            <input id="form-file" type="file" ng-model="file_upload.input_2">
                        </div>
                        You can also use
                        <div class="uk-form-file uk-text-primary">text<input id="form-file-text" type="file" ng-model="file_upload.input_3"></div>.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
 -->




        <!-- My Invesment  -->
        <div id="page_content">
            <div id="page_content_inner">
                <h3 class="heading_b uk-margin-bottom" style="color:rgb(0, 119, 255);">My Investments</h3>
                <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-4"><div class="md-card md-card-hover">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <i class="material-icons">account_balance</i> Savings Bank
                                    </br>
                                    </br>
                                    </br>
                                    ₹ 1,00,000,000
                                    
                                </div></div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4"><div class="md-card md-card-hover">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <i class="material-icons">lock_open </i>     Fixed Deposits
        
                                    </br>
                                    </br>
                                    </br>
                                    ₹ 1,00,000,000
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4"><div class="md-card md-card-hover">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <i class="material-icons">shopping_cart_checkout</i>jewallery
                                    </br>
                                    </br>
                                    </br>
                                    ₹ 1,00,000
        
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4"><div class="md-card md-card-hover">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <i class="material-icons">airline_seat_recline_extra</i> Stocks & MF
        
                                    </br>
                                    </br>
                                    </br>
                                    ₹ 1,00,00,000
        
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </br>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2"><h3 class="heading_b uk-margin-bottom" style="color:rgb(0, 119, 255);">My Risk Protection</h3><div class="md-card md-card-hover"><div class="md-card">
                            <div class="md-card-content">
                                <i class="material-icons">security</i> Insurance
        
                                </br>
                                </br>
                                </br>
                                ₹ 1,00,000,000
                            </div>
                        </div>
                    </div>
                    </div>
        
                    <div class="uk-width-medium-1-2">
                        <h3 class="heading_b uk-margin-bottom" style="color:rgb(0, 119, 255);">My Contributions
                        </h3><div class="md-card md-card-hover">
                        <div class="md-card">
                            <div class="md-card-content">
                                <i class="material-icons">transfer_within_a_station</i> Charity
                                </br>
                                </br>
                                </br>
                                ₹ 1,00,000,000
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </br>
                </br>
                <div>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <h3 class="heading_b uk-margin-bottom" style="color:rgb(0, 119, 255);">Distribution of your Investment</h3>
                 <div class="md-card">
                            <div class="md-card-content"> 
                              <img src="assets/img/pie.png" alt=""/>
                        </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <h3 class="heading_b uk-margin-bottom" style="color:rgb(0, 119, 255);">Distribution of your Returns</h3>
             <div class="md-card">
                        <div class="md-card-content"> 
                          <img src="assets/img/pie1.png" alt=""/>
                    </div>
                    </div>
                </div>
            </div>
                </div>
            </div>
        
        
        
        
        
        
        
        
            </div>
        </div>        