<!-- <div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom">
            Dropify
            <span class="sub-heading">input files with style</span>
        </h3>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">
                            Default
                        </h3>
                        <input type="file" id="input-file-a" class="dropify" />
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">
                            Default value
                        </h3>
                        <input type="file" id="input-file-b" class="dropify" data-default-file="assets/img/gallery/Image08.jpg"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">
                            Disabled
                        </h3>
                        <input type="file" id="input-file-c" class="dropify" disabled />
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">
                            French messages
                        </h3>
                        <input type="file" id="input-file-d" class="dropify-fr" />
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">
                            Max size (200 KB)
                        </h3>
                        <input type="file" id="input-file-e" class="dropify" data-max-file-size="200K" />
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">
                            Min&Max Width / Min&Max Height <span class="sub-heading">min 400px, max 1200px</span>
                        </h3>
                        <input type="file" id="input-file-f" class="dropify" data-min-width="400" data-max-width="1200" data-min-height="400" data-max-height="1200" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
 -->


                                       <!-- my charity -->

                                       <style>
                                        .userbutton {
                                            margin-left: 600px;
                                        }
                                        .Ins-head
                                            b {
                                                font-size: 30px;
                                                 margin-left: 20px;
                                            }
                                         .purchase-btn{
                                             margin-left: 5px;
                                         }   
                                        
                                        </style>
                                    
                                    
                                    
                                    
                                    <div id="page_content">
                                        <div id="page_content_inner">
                                            <div class="Ins-head">
                                                <b class="uk-text-primary"> Charity</b>
                                            </div> <br>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-1">
                                                    <div class="md-card">
                                                        <div class="md-bg-blue-A400">
                                                            <div class="md-card-content">
                                                                <h2 class="uk-text-contrast">Become a super hero</h2>
                                                                <h4 class="uk-text-contrast">True happiness comes from helping needy people</h4>
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-4">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                                            <div>
                                                                <i class="material-icons md-36">
                                                                    school
                                                                </i>
                                                                <h2>Child Education</h2>
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-4">
                                                    <div class="md-card">
                                                        <div class="uk-align-center">
                                                            <div class="md-card-content">
                                                                <div class="uk-icon-large">
                                                                    <i class="uk-icon-tint">
                                    
                                                                    </i>
                                                                </div>
                                                                <h2>Save water</h2>
                                    
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" uk-width-medium-1-4">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                                            <div class="uk-icon-large">
                                                                <i class="uk-icon-wheelchair">
                                    
                                                                </i>
                                                            </div>
                                                            <h2>Differently Abled</h2>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-4">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                                            <div class="uk-icon-large">
                                                                <i class="uk-icon-tree">
                                    
                                                                </i>
                                                            </div>
                                                            <h2>Save Trees
                                    
                                                            </h2>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-4">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                    
                                                            <h2>
                                                                <i class="material-icons md-48">
                                                                    security
                                                                </i>
                                                            </h2>
                                                            <h2>Sponser Healthcare
                                    
                                                            </h2>
                                    
                                    
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-4">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                                            <h2><i class="material-icons md-48"> nature_people </i></h2>
                                                            <h2>Fight Hunger
                                                            </h2>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <div class="uk-width-medium-1-4">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                                            <h2><i class="material-icons md-48"> child_friendly </i></h2>
                                                            <h2>Child Friendly</h2>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-4">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                                            <h2><i class="material-icons md-48"> directions_walk </i></h2>
                                                            <h2> Old Age Home
                                                            </h2>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                            </div> <br>
                                            <div class="Ins-head">
                                                <b class="uk-text-primary"> Charity Donation</b>
                                            </div>
                                            <br>
                                    
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                                            <div class="uk-grid-medium-1-2">
                                                                <table class="uk-table-middle  uk-table-striped">
                                    
                                                                    <thead>
                                                                        <tr class="uk-width-medium-1-4 uk-text-center uk-text-large ">
                                                                            <th class="uk-align-left uk-text-large">Name Of The Charity
                                                                            </th>
                                                                            <th class="uk-width-medium-1-4 uk-text-center uk-text-large">Minimum Donation
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                    
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="uk-width-medium-1-4  uk-text-bold">Arunodhiyam</td>
                                                                            <td class="uk-width-medium-1-4 uk-text-center uk-text-bold">5000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="uk-width-medium-1-4  uk-text-bold">Anniversary</td>
                                                                            <td class="uk-width-medium-1-4 uk-text-center uk-text-bold">5000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="uk-width-medium-1-4  uk-text-bold">Festivals</td>
                                                                            <td class="uk-width-medium-1-4 uk-text-center uk-text-bold">5000</td>
                                                                        </tr>
                                    
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                    
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-4">
                                                    <div class="md-card ">
                                                        <div class="md-card-content uk-margin-left ">
                                                            <div class="uk-width-medium-1-1   uk-margin-left">
                                                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                                                    <button class="md-btn  ">Select Occasion<i class="material-icons">&#xE313;</i></button>
                                                                    <div class="uk-dropdown">
                                                                        <ul class="uk-nav uk-nav-dropdown">
                                                                            <li><a href="#">Arunodhiyam</a></li>
                                                                            <li><a href="#">Another item</a></li>
                                                                            <li><a href="#">Item</a></li>
                                                                            <li><a href="#">Another item</a></li>
                                                                            <li><a href="#">Separated item</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div> <br>
                                                            <div class="uk-width-medium uk-margin-left"> <input type="text" placeholder="Donation" class="">
                                                            </div>
                                                            <br>
                                                            <div class="uk-margin-left">
                                    
                                                                <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">Donate</a>
                                                                <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">Cancel</a>
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <br>
                                            <div class="Ins-head">
                                                <b class="uk-text-primary"> My Contribution</b>
                                            </div>
                                    
                                            <div class="uk-grid">
                                                <div class="uk-width-1-1">
                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                    
                                                            <div class="uk-grid" data-uk-grid-margin>
                                                                <div class="uk-width-large-1-2 uk-width-medium-1-1">
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i
                                                                                class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                                        <label for="uk_dp_start">Start Date</label>
                                                                        <input class="md-input" type="text" id="uk_dp_start" md-input
                                                                            ng-model="forms_advanced.dp_start">
                                                                    </div>
                                                                </div>
                                                                <div class="uk-width-large-1-2 uk-width-medium-1-1">
                                                                    <div class="uk-input-group">
                                                                        <span class="uk-input-group-addon"><i
                                                                                class="uk-input-group-icon uk-icon-calendar"></i></span>
                                                                        <label for="uk_dp_end">End Date</label>
                                                                        <input class="md-input" type="text" id="uk_dp_end" md-input
                                                                            ng-model="forms_advanced.dp_end">
                                                                    </div>
                                                                </div>
                                                                <div class="uk-margin-left-large">
                                                                    <form class="uk-search " data-uk-search>
                                                                        <input class="uk-search-field" type="search" placeholder="Search Here">
                                                                    </form>
                                                                </div>
                                                            </div> <br>
                                                            <div class="uk-overflow-container">
                                                                <table class="uk-table uk-table-hover">
                                                                    <thead class="">
                                                                        <tr>
                                                                            <th>
                                                                                <h5 class="">#</h5>
                                                                            </th>
                                                                            <th>
                                                                                <h5 class="">Date</h5>
                                                                            </th>
                                                                            <th>
                                                                                <h5 class="">Organization</h5>
                                                                            </th>
                                                                            <th>
                                                                                <h5 class="">Charity Foundation Type
                                                                            </th>
                                                                            <th>
                                                                                <h5 class="">Donation</h5>
                                                                            </th>
                                    
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="">
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>29-may-2022</td>
                                                                            <td> Sri Arunodayam </td>
                                                                            <td>Differentially Abled Care</td>
                                                                            <td>20000</td>
                                    
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>30-may-2022</td>
                                                                            <td>Udhavum Ullangal</td>
                                                                            <td>Orphanage </td>
                                                                            <td>9500</td>
                                    
                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            <td>1-june-2022</td>
                                                                            <td>Term</td>
                                                                            <td>Chennai Food Bank</td>
                                                                            <td>9000</td>
                                    
                                                                        </tr>
                                    
                                                                    </tbody>
                                                                </table>
                                                                <ul class="uk-pagination">
                                                                    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span>
                                                                    </li>
                                                                    <li class="uk-active"><span>1</span></li>
                                                                    <li><a href="#">2</a></li>
                                                                    <li><a href="#">3</a></li>
                                                                    <li><a href="#">4</a></li>
                                                                    <li><span>&hellip;</span></li>
                                                                    <li><a href="#">20</a></li>
                                                                    <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                                                                </ul>
                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    </div>